<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bgAlpha" value="80"/>
    <add key="bgRed" value="58"/>
    <add key="bgGreen" value="125"/>
    <add key="bgBlue" value="218"/>
    <add key="textAlpha" value="255"/>
    <add key="textRed" value="255"/>
    <add key="textGreen" value="255"/>
    <add key="textBlue" value="255"/>
    <add key="textFont" value="simhei"/>
    <add key="textFontSize" value="72.0"/>
  </appSettings>
</configuration>