<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bgAlpha" value="1"/>
    <add key="bgRed" value="20"/>
    <add key="bgGreen" value="20"/>
    <add key="bgBlue" value="20"/>
    <add key="textAlpha" value="255"/>
    <add key="textRed" value="200"/>
    <add key="textGreen" value="0"/>
    <add key="textBlue" value="0"/>
    <add key="textFont" value="Arial"/>
    <add key="textFontSize" value="20.0"/>
  </appSettings>
</configuration>